<div class="ln-image ln-image-left">
    <div class="ln-field-image">
        {{ content.field_image }}
        <caption class="ln-field-caption">
            {{ content.field_caption }}
        </caption>
    </div>
    <div class="ln-field-body">
        {{ content.field_body }}
    </div>
</div>
