<div class="ln-article">
  <h2 class="ln-postcode">{{ content.field_postcode }}</h2>

  <div class="ln-description">
    {{ content.field_description }}
  </div>

  {{ content.field_content }}
</div>
