<header class="ln-header">
  {{ page.header }}
</header>
<main class="ln-container">
  <a id="main-content"></a>
  {{ page.content }}
</main>
<footer>
  <div class="ln-container">
    {{ page.footer }}
  </div>
</footer>
